	/* Universalselektor */
	* {
		font-family: Arial, Verdana, sans-serif; 
		text-align: justify;
		font-size:1rem;
		padding: 0;
		margin: 0;
		border-radius: 0.5rem;
	}

	/* Allgemeine Einstellungen, gelten für alle Elemente mit diesem Namen*/
	p { 
		font-size:1rem
	}

	h1 { 
		font-size: 1.8rem; 
		font-style: italic;
		text-align: center;
	}

	h2 { 
		font-size: 1.4rem; 
		font-style: italic;
		text-align: center;
	}

	h3 { 
		font-size: 1.2rem; 
		text-align: center;
		padding-bottom: 1rem;
	}

	li { 
		font-size: 1.2rem;
	}

	body {
		background-image: url(back.jpg);
	}

	main {
		min-height: 23rem;
		display:block;
		text-align: center;
	}

	button {
		font-size: 1.3rem;
		width: 15rem;
		height: 7rem;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.6);
		text-align: center;
	}

/************************************************************************/
/* Nachfahrenselektoren */
	main div{
		width: 15rem;
		margin:auto;
	}

	main img{
		width: 15rem;
		height: 15rem;
	}

	main section{
		margin-top: 1rem; 
		margin-left:2rem;
		display:table;
		border: 2px solid;
		border-color: #555555;
		padding: 1em;
	}

	main span{
		display: table-row;
		margin: 1em;
	}

/************************************************************************/
/* Mehrere Selektoren */
	header, main, button{
		background-color: #e6f2f7;
	}

/************************************************************************/
/* Klasse statt Masse */
	/* header, main, #anmerkung, button, .header_items { */
	.containers {
		margin: .7rem;
		padding: .5rem;
		border: none;
	}

	.header_items {
		font-weight: bold;
	}

	#myArticle{
		background: #CCFFFF;
	}

/************************************************************************/
/* Kindselektor */
	#myArticle > p{
		margin-top: 2em;
	}

/************************************************************************/
/* ID-Selektor*/
	#navigation {
		min-width: 9rem;
		background: #FF9900;
	}
/************************************************************************/
	#anmerkung {
		background-color: #e6f2f7;
		border: 1px solid;	
		border-color: #bbc5a7;
		margin: 1rem;
		padding: 0.2rem;
		width:30%;
		min-width: 10rem;
	}

	#anmerkung h3 {
		background-color: #bbc5a7;
		color: white;
		margin: 0 0 0.5rem;
	}

	#navigation a:link {
	  text-decoration: none;
	  font-size: 1.1rem;
	  color: #515151;
	  display: block;
	}

	/** Als Aufgabe **/
	/* Farbänderung für Mouse Over */

/*********************************************************/
/* Zwischenbereich */
@media (min-width: 40rem) and (max-width: 60rem){
}

/* Auch @media (min-device-width: 60rem) { */
/* Einstellungen, die erst bei einer Anzeige mit einer Breite von mindestens 40 Zeichen der aktuellen Schriftgröße wirken */
@media (min-width: 60rem){
	body,html{
		max-width: 80rem;
		min-width: 60rem;
		margin: 0 auto;
	}   

	h1 { 
		font-size: 2.3rem; 
	}

	h2 { 
		font-size: 1.8rem; 
	}

	h3 { 
		font-size: 1.3rem; 
	}

	.buttonflex {
			min-width: 35rem;
		}

/*******************************/
/* Flexdesign */
	.header_item_flex {
		display: flex;
		min-height: 10rem;
		max-height: 30rem;
	}

	.buttonflex {
		display: flex;
		justify-content: space-between;
	}

	#navigation {
		flex:1;
		min-width: 9rem;
	} 

	#myArticle {
		flex:3;
		min-width: 20rem;
	}
/************Ende Flex********************/

	main div{
		width: 100%;
		margin:auto;
	}
	/** Ersetzen durch Flex Design **/
	main img{
			float: right;
			margin-right: 20rem;
			margin-top: 2rem;
			margin-left: 0rem;
	}	
	main section{
			float: left;
			margin-top: 5rem;
			margin-left: 10rem;
	}	

	#anmerkung {
		float:right;
	}
	/*******************************/
}

/***************************************************************/
/* Viewport */

#js-viewport-breitenanzeiger{
	position: fixed;
	top: 120px;
	right: 20px;
	z-index: 10000;
	background: rgba(230,72,0,0.80);
	border: 1px solid rgba(128,42,0,90);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.10);
	padding: 10px;
	font-size: 11px;
	font-weight: bold;
	color: rgba(255,255,255,1);
	font-family: Arial, Verdana, sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.50);
	text-transform: uppercase;
}

/***************************************************************/