#header_article {
	min-width:12rem;
}

#snippets{
	display:grid;
	grid-template-columns: auto;
	width:100%;
	margin:0;
	padding:0;
}

#snippets p{
	border: 2px solid;
	border-color: #555555;
	padding: 1em;
}

main>div{
	width:100%;
}
.section_item {
  background-color: #80cbc4;
  border: 1px solid #fff;
  font-size: 30px;
  text-align: center;
  padding: 1rem;
}

button{
	width: 10rem;
	height: 3rem;
	padding-left: 1rem;
}

#geoloc{
	display:table;
	margin:auto;
}

#p_geoloc, #geoloc button{
	display:table-cell;
	margin:auto;
}

@media (min-width: 60rem){
	#snippets{
		display:grid;
		grid-template-columns: auto auto;
	}
	
}